input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin-left: 2rem;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input[type=text]:focus {
    border: 3px solid #555;
  }
p{
    margin-left: 2rem;
}
.boton {
    background-color: #4CAF50; /* Green */
    border-radius: 2px;;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.boton {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
.boton:hover {
    background-color: #4CAF50;
    color: white;
  }
  